<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Umar Jati</h2>
      <h4>lapisanlangit</h4>
      <img src="/assets/gambar.png" alt="" />
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>import_contacts</mat-icon> Contacts
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list dense>
        <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
        <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Product </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
      <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
    </mat-expansion-panel>
  </mat-accordion>
  <!--   <mat-divider></mat-divider> -->
</mat-nav-list>
